<h6 style="color: #bdc3c7" class="display-4">Login</h6>
<hr />

<div class="row">
    <div class="col-md-6">
            <div class="form-group row mb-2">
                <div class="col-sm-3">
                    <label></label>
                </div>
                <div class="col-sm-9">
                    <input style="background-color: #bdc3c7" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-sm-3">
                    <label style="color: #bdc3c7"></label>
                </div>
                <div class="col-sm-9">
                    <input style="background-color: #bdc3c7" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-sm-9 offset-sm-3">
                    <a style="background-color: #bdc3c7" class="btn" href="/Danisman/DanismanList">Login</a>
                </div>
            </div>
        </div>
</div>
